<h1>Angular MatTable complete example!</h1>

<div fxLayout="row" fxLayoutAlign="start end">
  <mat-paginator [pageSize]="25" [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons></mat-paginator>
</div>

<div id="table-container" style="height: 400px; width:400px; overflow: auto;">
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
    <ng-container *ngFor="let col of displayColumns; let i=index;" matColumnDef="{{col}}" 
    [sticky]="i==0">
      <th mat-header-cell *matHeaderCellDef mat-sort-header id="{{col}}"> {{col}}
        <button mat-icon-button (click)="$event.stopPropagation(); openFilter(col); ">
          <img src="assets/mat-icons/search-24px.svg">
        </button>
        <input type="text" hidden id="{{col}}-filter" 
          (blur)="filterData(col, $event.target.value); closeFilter(col)" />
      </th>
      <td mat-cell *matCellDef="let element"> {{element[col]}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayColumns; sticky:true;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
  </table>
</div>

